@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #252117;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
}
body::-webkit-scrollbar,
html::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background-color: #eee;
}

.kor {
  font-family: "Noto Sans KR", sans-serif;
}

.eng {
  font-family: "Poppins", sans-serif;
}

.show {
  display: block;
}

.hide {
  display: none;
}

/* ----------------------- main ----------------------- */
.main {
  width: 100%;
  height: auto;
  margin-top: 105px;
}
.main .detailPage {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  transition: 0.3s all ease;
  position: relative;
}
.main .detailPage .detail_content {
  width: calc(100vw - 760px);
  height: auto;
  overflow-y: auto;
  overflow-x: auto;
  margin-right: 760px;
  transition: 0.3s all ease;
  visibility: visible;
}
.main .detailPage .detail_content::-webkit-scrollbar {
  width: 10px;
  height: 0px;
  background-color: #eee;
}
.main .detailPage .detail_content::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #FD8234;
}
.main .detailPage .detail_content .content_main {
  max-width: 1420px;
  width: calc(100vw - 760px);
  height: calc(100vh - 105px);
  margin: 0 auto;
  z-index: 9999;
}
.main .detailPage .detail_content .content_main .swiper_detail {
  width: 100%;
  height: calc(100vh - 105px);
}
.main .detailPage .detail_content .content_main .swiper_detail:hover .swiperDetailBtn {
  visibility: visible;
}
.main .detailPage .detail_content .content_main .swiper_detail .swiper-wrapper {
  width: 100%;
  height: 100%;
}
.main .detailPage .detail_content .content_main .swiper_detail .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .detailPage .detail_content .content_main .swiper_detail .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main .detailPage .detail_content .content_main .swiper_detail .detail_pagination {
  margin-bottom: 20px;
}
.main .detailPage .detail_content .content_main .swiper_detail .detail_pagination .swiper-pagination {
  width: 10px;
  height: 10px;
}
.main .detailPage .detail_content .content_main .swiper_detail .detail_pagination .swiper-pagination-bullet-active {
  background-color: #FD8234;
  border-radius: 10px;
  transform: scale(1.3);
  transition: 0.3s all ease;
}
.main .detailPage .detail_content .content_main .swiper_detail .swiperDetailBtn {
  visibility: hidden;
  margin-right: 50px;
}
.main .detailPage .detail_content .content_main .swiper_detail .swiperDetailBtn:after {
  color: #FD8234;
  padding: 10px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: bold;
}
.main .detailPage .detail_content .content_main .swiper_detail .swiper-button-prev {
  margin-left: 35px;
}
.main .detailPage .detail_content .content_main .tabMenu {
  width: 100%;
  height: auto;
  position: relative;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_wrap {
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_wrap .menu_label {
  width: 100%;
  height: 90px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_wrap .menu_label li {
  width: calc((100vw - 760px) / 4);
  height: 90px;
  text-align: center;
  line-height: 90px;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_wrap .menu_label li.on {
  border-bottom: 5px solid #FD8234;
  box-sizing: border-box;
  transition: 0.3s all;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_wrap .menu_label li a {
  width: calc((100vw - 760px) / 4);
  height: 90px;
  display: block;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_header {
  position: relative;
  width: 100vw;
  height: 90px;
  opacity: 0;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_header .tabMenu_headerWrap {
  width: 100%;
  height: 105px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f8f8f8;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  z-index: 99999999;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_header .tabMenu_headerWrap .logo {
  width: 55px;
  height: auto;
  padding-top: 21px;
  box-sizing: border-box;
  margin: 0px 0px 0px 60px;
  cursor: pointer;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_header .tabMenu_headerWrap .logo .logo a {
  width: 55px;
  height: auto;
  display: block;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_header .tabMenu_headerWrap .logo img {
  width: 100%;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_header .tabMenu_headerWrap .tabMenu_label .lnb_main {
  width: 665px;
  height: 105px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  top: 57px;
  left: 200px;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_header .tabMenu_headerWrap .tabMenu_label .lnb_main li {
  height: 100px;
  padding: 0 25px;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_header .tabMenu_headerWrap .tabMenu_label .lnb_main li a {
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_header .tabMenu_headerWrap .tabMenu_label .lnb_main li:hover a {
  color: #FD8234;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_header .tabMenu_headerWrap .tabMenu_label .lnb_detail {
  position: relative;
  width: 100vw;
  z-index: 9;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_header .tabMenu_headerWrap .tabMenu_label .lnb_detail .shop_detail_bg {
  width: 520px;
  height: calc(100vh - 105px);
  position: absolute;
  top: 14px;
  left: -869px;
  transition: all 0.3s;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_header .tabMenu_headerWrap .tabMenu_label .lnb_detail .shop_detail_bg .shop_detail {
  width: 520px;
  height: calc(100vh - 105px);
  background-color: #F8F6F4;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_header .tabMenu_headerWrap .tabMenu_label .lnb_detail .shop_detail_bg .shop_detail li:hover {
  background-color: #EFE8DA;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_header .tabMenu_headerWrap .tabMenu_label .lnb_detail .shop_detail_bg .shop_detail li:hover a {
  color: #FD8234;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_header .tabMenu_headerWrap .tabMenu_label .lnb_detail .shop_detail_bg .shop_detail li {
  width: 100%;
  height: 72px;
  border-bottom: 1px solid #eee;
  padding: 12px 0 0 70px;
  box-sizing: border-box;
  line-height: 50px;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_header .tabMenu_headerWrap .tabMenu_label .lnb_detail .shop_detail_bg .shop_detail li a {
  display: block;
  width: 100%;
  height: 72px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_header .tabMenu_headerWrap .tabMenu_label .lnb_detail .shop_detail_bg .shop_detail li:nth-child(1) {
  width: 50%;
  height: 72px;
  display: inline-block;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_header .tabMenu_headerWrap .tabMenu_label .lnb_detail .shop_detail_bg .shop_detail li:nth-child(2) {
  width: 50%;
  height: 72px;
  float: left;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_header .tabMenu_headerWrap .tabMenu_label .lnb_detail .story_detail_bg {
  width: 100vw;
  height: 60px;
  position: absolute;
  top: 16px;
  left: 0;
  display: none;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_header .tabMenu_headerWrap .tabMenu_label .lnb_detail .story_detail_bg ul.story_detail {
  width: 100vw;
  height: 60px;
  background-color: #EFE8DA;
  display: flex;
  transition: all 0.5s;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_header .tabMenu_headerWrap .tabMenu_label .lnb_detail .story_detail_bg ul.story_detail li:hover a {
  color: #FD8234;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_header .tabMenu_headerWrap .tabMenu_label .lnb_detail .story_detail_bg ul.story_detail li {
  padding: 17px 10px 0;
  cursor: pointer;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_header .tabMenu_headerWrap .tabMenu_label .lnb_detail .story_detail_bg ul.story_detail li a {
  font-size: 13px;
  font-weight: bold;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_header .tabMenu_headerWrap .tabMenu_label .lnb_detail .story_detail_bg ul.story_detail li:nth-child(1) {
  margin: 0 45px 0 305px;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_header .tabMenu_headerWrap .tabMenu_label .lnb_detail .support_detail_bg {
  width: 100vw;
  height: 60px;
  position: absolute;
  top: 16px;
  left: 0;
  transition: all 0.5s;
  display: none;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_header .tabMenu_headerWrap .tabMenu_label .lnb_detail .support_detail_bg ul.support_detail {
  width: 100vw;
  height: 60px;
  background-color: #EFE8DA;
  display: flex;
  transition: all 0.5s;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_header .tabMenu_headerWrap .tabMenu_label .lnb_detail .support_detail_bg ul.support_detail li:hover a {
  color: #FD8234;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_header .tabMenu_headerWrap .tabMenu_label .lnb_detail .support_detail_bg ul.support_detail li {
  padding: 17px 10px 0;
  margin-right: 45px;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_header .tabMenu_headerWrap .tabMenu_label .lnb_detail .support_detail_bg ul.support_detail li a {
  font-size: 13px;
  font-weight: bold;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_header .tabMenu_headerWrap .tabMenu_label .lnb_detail .support_detail_bg ul.support_detail li:nth-child(1) {
  margin-left: 645px;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_header .tabMenu_headerWrap .tabMenu_label .headMenu_label {
  width: calc(100vw - 760px);
  height: 60px;
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  position: absolute;
  top: 105px;
  left: 0;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_header .tabMenu_headerWrap .tabMenu_label .headMenu_label li {
  width: calc((100vw - 760px) / 4);
  height: 60px;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_header .tabMenu_headerWrap .tabMenu_label .headMenu_label li.on {
  border-bottom: 5px solid #FD8234;
  box-sizing: border-box;
  transition: 0.3s all;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_header .tabMenu_headerWrap .tabMenu_label .headMenu_label li a {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 60px;
  display: block;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_header .tabMenu_headerWrap .tabMenu_label .headMenu_label li a:hover {
  color: #FD8234;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_header .tabMenu_headerWrap .gnb ul {
  width: 400px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  top: 57px;
  right: 55px;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_header .tabMenu_headerWrap .gnb ul li {
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_header .tabMenu_headerWrap .gnb ul li.search {
  width: 165px;
  height: 25px;
  background-color: #FD8234;
  border-radius: 20px;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_header .tabMenu_headerWrap .gnb ul li.search input {
  width: 165px;
  height: 25px;
  padding: 12px 15px;
  box-sizing: border-box;
  color: #f8f8f8;
  background-color: #FD8234;
  border-radius: 20px;
  border: none;
  position: relative;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_header .tabMenu_headerWrap .gnb ul li.search i {
  font-size: 13px;
  color: #f8f8f8;
  position: absolute;
  top: 6px;
  right: 246px;
}
.main .detailPage .detail_content .content_main .tabMenu .tabMenu_header .tabMenu_headerWrap .gnb ul li:hover a {
  color: #FD8234;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box {
  width: 100%;
  height: auto;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .detail_box {
  width: 100%;
  height: auto;
  background-color: #ccc;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .detail_box .tab_img {
  width: 100%;
  height: auto;
  background-color: #ccc;
  transition: 0.4s all ease;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .detail_box .tab_img img {
  display: block;
  width: 99%;
  height: 100%;
  object-fit: cover;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .detail_box .detail {
  display: none;
  transition: 0.4s all ease;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .detail_box .detail img {
  display: block;
  width: 99%;
  height: 100%;
  object-fit: cover;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .detail_box .more_btn {
  width: 100%;
  height: 85px;
  display: block;
  background-color: #f8f8f8;
  border: 2px solid #ccc;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 85px;
  color: #191919;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .detail_box .more_btn i {
  color: #FD8234;
  padding: 5px;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .notice_box {
  width: 100%;
  height: auto;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .notice_box .notice_wrap {
  width: 940px;
  height: 100%;
  margin: 0 auto;
  padding: 70px 0;
  box-sizing: border-box;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .notice_box .notice_wrap .notice_list {
  padding: 25px 0;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .notice_box .notice_wrap h3 {
  font-size: 21px;
  margin-left: 3px;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .notice_box .notice_wrap .line {
  width: 940px;
  height: 3px;
  background-color: #191919;
  margin: 15px auto 18px;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .notice_box .notice_wrap p {
  font-size: 16px;
  font-weight: 500;
  padding: 4px 0;
  margin-left: 5px;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .notice_box .notice_wrap p.address {
  padding: 3px 5px;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .review_box {
  width: 100%;
  height: auto;
  background-color: #fff;
  margin: 50px 0 0;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .review_box .review_box_wrap {
  position: relative;
  width: 940px;
  height: 100%;
  margin: 0 auto;
  padding: 80px 0 20px;
  box-sizing: border-box;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .review_box .review_box_wrap .review_title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .review_box .review_box_wrap .review_title h3 {
  font-size: 21px;
  margin-left: 15px;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .review_box .review_box_wrap .review_title p {
  font-size: 14px;
  margin-right: 85px;
  cursor: pointer;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .review_box .review_box_wrap .line {
  width: 940px;
  height: 3px;
  background-color: #191919;
  margin: 16px auto 18px;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .review_box .review_box_wrap .review_img {
  width: 905px;
  height: 120px;
  overflow: hidden;
  margin: 25px auto;
  position: relative;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .review_box .review_box_wrap .review_img .frame {
  width: 1300px;
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .review_box .review_box_wrap .review_img .frame li {
  width: 120px;
  height: 120px;
  padding: 0 5px;
  float: left;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .review_box .review_box_wrap .review_img .frame li a img {
  width: 100%;
  height: 100%;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .review_box .review_box_wrap .review_btn {
  margin-bottom: 20px;
  cursor: pointer;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .review_box .review_box_wrap .review_btn .reviewBtn {
  width: 20px;
  height: 120px;
  position: absolute;
  top: 145px;
  left: 0px;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .review_box .review_box_wrap .review_btn .reviewBtn i {
  text-align: center;
  color: #222;
  line-height: 120px;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .review_box .review_box_wrap .review_btn .next_btn {
  left: 935px;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .review_box .review_box_wrap .review_write {
  width: 940px;
  height: 140px;
  margin: 15px auto 255px;
  position: relative;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .review_box .review_box_wrap .review_write h4 {
  padding: 15px 0 20px;
  margin: 25px 0 0 20px;
  color: #FD8234;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .review_box .review_box_wrap .review_write div {
  width: 900px;
  margin: 0 auto 8px;
  font-size: 14px;
  font-weight: 500;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .review_box .review_box_wrap .review_write div input {
  margin: 5px 0 2px;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .review_box .review_box_wrap .review_write div.review_user {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .review_box .review_box_wrap .review_write div input {
  width: 680px;
  height: 20px;
  border: none;
  border-bottom: 1px solid #222;
  line-height: 20px;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .review_box .review_box_wrap .review_write div.review_title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .review_box .review_box_wrap .review_write div.review_title input {
  width: 680px;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .review_box .review_box_wrap .review_write div.review_select {
  position: relative;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .review_box .review_box_wrap .review_write div.review_select #SNOWMAN22 {
  width: 200px;
  height: 30px;
  position: absolute;
  padding: 0 5px;
  box-sizing: border-box;
  top: -40px;
  right: 0;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .review_box .review_box_wrap .review_write div.review_select .inputImage {
  width: 200px;
  height: 30px;
  position: absolute;
  top: -100px;
  right: 0;
  border: none;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .review_box .review_box_wrap .review_write div.review_textarea {
  margin-top: 15px;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .review_box .review_box_wrap .review_write div.review_textarea input {
  width: 900px;
  height: 120px;
  padding: 20px;
  border: none;
  box-sizing: border-box;
  margin: 5px 0 10px;
  background-color: #f5f5f5;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .review_box .review_box_wrap .review_write div.review_save {
  position: relative;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .review_box .review_box_wrap .review_write div.review_save .save_btn {
  position: absolute;
  bottom: -25px;
  right: 0;
  width: 58px;
  height: 30px;
  line-height: 31px;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  background-color: #FD8234;
  color: #EFE8DA;
  cursor: pointer;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .review_box .review_box_wrap .review_list {
  width: 900px;
  height: auto;
  margin: 40px auto;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .review_box .review_box_wrap .review_list ul li {
  position: relative;
  width: 100%;
  height: 170px;
  background-color: rgba(239, 232, 218, 0.6039215686);
  border-radius: 2px;
  padding: 15px 20px 0;
  box-sizing: border-box;
  margin-bottom: 22px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 15px -25px;
  cursor: pointer;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .review_box .review_box_wrap .review_list ul li > div {
  display: flex;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .review_box .review_box_wrap .review_list ul li > div p {
  font-size: 14px;
  padding: 4px 0 1px 10px;
  white-space: wrap;
  text-overflow: ellipsis;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .review_box .review_box_wrap .review_list ul li > div.user_info p {
  margin-top: 5px;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .review_box .review_box_wrap .review_list ul li > div.user_info p.userId {
  color: #3f3f3f;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .review_box .review_box_wrap .review_list ul li > div.user_info p.revDate {
  position: absolute;
  top: 6px;
  right: 22px;
  font-size: 13px;
  color: #3f3f3f;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .review_box .review_box_wrap .review_list ul li > div.purchaseOption {
  color: #3f3f3f;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .review_box .review_box_wrap .review_list ul li > div.reviewContent {
  justify-content: space-between;
  align-items: flex-start;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .review_box .review_box_wrap .review_list ul li > div.reviewContent .reviewTxt {
  width: 640px;
  height: 48px;
  font-size: 15px;
  overflow: hidden;
  margin-top: 15px;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .review_box .review_box_wrap .review_list ul li > div.reviewContent .contentImg {
  width: 90px;
  height: 90px;
  margin-top: -25px;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .review_box .review_box_wrap .review_list ul li > div.reviewContent .contentImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .question_box {
  width: 100%;
  height: auto;
  background-color: #fff;
  margin-top: 5px;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .question_box .question_box_wrap {
  position: relative;
  width: 940px;
  height: auto;
  margin: 0 auto;
  padding: 80px 0 20px;
  box-sizing: border-box;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .question_box .question_box_wrap .question_title h3 {
  font-size: 21px;
  margin-left: 15px;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .question_box .question_box_wrap .question_title p {
  font-size: 14px;
  margin-right: 85px;
  cursor: pointer;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .question_box .question_box_wrap .line {
  width: 940px;
  height: 3px;
  background-color: #191919;
  margin: 16px auto 18px;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .question_box .question_box_wrap .write_box {
  width: 940px;
  height: 150px;
  margin: 15px auto 260px;
  position: relative;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .question_box .question_box_wrap .write_box h4 {
  padding: 15px 0 20px;
  margin: 25px 0 0 20px;
  color: #FD8234;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .question_box .question_box_wrap .write_box div {
  width: 900px;
  margin: 0 auto 8px;
  font-size: 14px;
  font-weight: 500;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .question_box .question_box_wrap .write_box div input {
  margin: 5px 0 2px;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .question_box .question_box_wrap .write_box div.userName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .question_box .question_box_wrap .write_box div.userName input {
  width: 200px;
  height: 20px;
  border: none;
  border-bottom: 1px solid #222;
  line-height: 20px;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .question_box .question_box_wrap .write_box div.queTit {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .question_box .question_box_wrap .write_box div.queTit input {
  width: 898px;
  height: 20px;
  border: none;
  border-bottom: 1px solid #222;
  line-height: 20px;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .question_box .question_box_wrap .write_box div.queCon {
  margin-top: 15px;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .question_box .question_box_wrap .write_box div.queCon input {
  width: 900px;
  height: 120px;
  padding: 20px;
  border: none;
  box-sizing: border-box;
  margin: 5px 0 10px;
  background-color: #f5f5f5;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .question_box .question_box_wrap .write_box .queBtn {
  position: absolute;
  bottom: -215px;
  right: 20px;
  width: 58px;
  height: 30px;
  line-height: 31px;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  background-color: #FD8234;
  color: #EFE8DA;
  cursor: pointer;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .question_box .question_box_wrap .table_title {
  width: 930px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .question_box .question_box_wrap .table_title div {
  width: 95px;
  text-align: center;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .question_box .question_box_wrap .table_title div.title_title {
  width: 380px;
  text-align: left;
  margin-left: 25px;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .question_box .question_box_wrap .line_thin {
  width: 930px;
  height: 1px;
  background-color: #191919;
  margin: 12px auto;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .question_box .question_box_wrap .list_box {
  width: 100%;
  height: auto;
  background-color: #fff;
  margin-bottom: 150px;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .question_box .question_box_wrap .list_box ul {
  width: 930px;
  height: auto;
  margin: 0 auto;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .question_box .question_box_wrap .list_box ul li {
  width: 100%;
  height: auto;
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 0;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .question_box .question_box_wrap .list_box ul li:last-child {
  border-bottom: none;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .question_box .question_box_wrap .list_box ul li .short {
  width: 930px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .question_box .question_box_wrap .list_box ul li .short:hover {
  background-color: rgb(249, 244, 238);
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .question_box .question_box_wrap .list_box ul li .short div {
  width: 95px;
  height: 60px;
  text-align: center;
  line-height: 55px;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .question_box .question_box_wrap .list_box ul li .short div.que {
  width: 385px;
  text-align: left;
  margin-left: 20px;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .question_box .question_box_wrap .list_box ul li .short div.queDate {
  width: 110px;
  font-size: 13px;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .question_box .question_box_wrap .list_box ul li .short div.queStatus {
  width: 50px;
  height: 25px;
  line-height: 23px;
  border-radius: 20px;
  background-color: #252117;
  color: #EFE8DA;
  text-align: center;
  margin: 0 25px 0 0;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .question_box .question_box_wrap .list_box ul li .short div.on {
  background-color: #FD8234;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .question_box .question_box_wrap .list_box ul li .answer_area {
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 2px;
  position: relative;
  margin: 0 auto;
  display: none;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .question_box .question_box_wrap .list_box ul li .answer_area .answer {
  background-color: #EFE8DA;
  padding: 30px 0 50px;
  display: flex;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .question_box .question_box_wrap .list_box ul li .answer_area .answer span {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  padding: 20px;
  font-size: 18px;
  position: absolute;
  top: 0;
  right: 0;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .question_box .question_box_wrap .list_box ul li .answer_area .answer div {
  width: 50px;
  height: 25px;
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
  line-height: 25px;
  margin: 0 15px 15px 20px;
}
.main .detailPage .detail_content .content_main .tabMenu .tab_box .question_box .question_box_wrap .list_box ul li .answer_area .answer p {
  margin-top: 5px;
  line-height: 12px;
}
.main .detailPage .content_side {
  position: absolute;
  top: 0;
  right: 0;
  width: 760px;
  height: 100%;
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
}
.main .detailPage .content_side::-webkit-scrollbar {
  width: 10px;
  height: auto;
  background-color: #eee;
}
.main .detailPage .content_side::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #FD8234;
}
.main .detailPage .content_side .side_info {
  position: relative;
  width: 760px;
  height: auto;
  margin: 0;
  background-color: #fff;
  box-sizing: border-box;
}
.main .detailPage .content_side .side_info .side_info_wrap {
  width: 760px;
  height: calc(100vh - 105px);
}
.main .detailPage .content_side .side_info .side_info_wrap .product_info {
  width: 100%;
  height: 30%;
}
.main .detailPage .content_side .side_info .side_info_wrap .product_info h4 {
  padding: 38px 60px 0;
  box-sizing: border-box;
  font-weight: 500;
}
.main .detailPage .content_side .side_info .side_info_wrap .product_info h3 {
  padding: 5px 60px 20px;
  font-size: 21px;
}
.main .detailPage .content_side .side_info .side_info_wrap .product_info span {
  font-size: 21px;
  font-weight: 500;
  padding: 0 60px;
}
.main .detailPage .content_side .side_info .side_info_wrap .product_info .select_option {
  position: absolute;
  top: 185px;
  left: 155px;
}
.main .detailPage .content_side .side_info .side_info_wrap .product_info .select_option h5 {
  color: #222;
}
.main .detailPage .content_side .side_info .side_info_wrap .product_info .color {
  width: auto;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 10px 60px;
  margin: 22px 0 0px;
}
.main .detailPage .content_side .side_info .side_info_wrap .product_info .color div {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 8px;
  border: 2px solid #eee;
  cursor: pointer;
}
.main .detailPage .content_side .side_info .side_info_wrap .product_info .color div:hover {
  border: 2px solid #222;
}
.main .detailPage .content_side .side_info .side_info_wrap .product_info .color div.on {
  border: 2px solid #222;
}
.main .detailPage .content_side .side_info .side_info_wrap .product_info .color div.butter {
  background-color: #ffd18b;
}
.main .detailPage .content_side .side_info .side_info_wrap .product_info .color div.pink {
  background-color: #e4cfce;
}
.main .detailPage .content_side .side_info .side_info_wrap .product_info .color div.white {
  background-color: #fff;
}
.main .detailPage .content_side .side_info .side_info_wrap .option {
  position: relative;
  width: 100%;
  height: 30%;
  border-top: 2px solid #eee;
  box-sizing: border-box;
}
.main .detailPage .content_side .side_info .side_info_wrap .option h5 {
  color: #414040;
  padding: 25px 60px 8px;
  box-sizing: border-box;
}
.main .detailPage .content_side .side_info .side_info_wrap .option .option_switch_box {
  width: 155px;
  height: 155px;
  margin: 5px 0 0 60px;
}
.main .detailPage .content_side .side_info .side_info_wrap .option .option_switch_box .option_switch {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid #EEE;
  box-sizing: border-box;
  cursor: pointer;
}
.main .detailPage .content_side .side_info .side_info_wrap .option .option_switch_box .option_switch div {
  width: 155px;
  height: 155px;
  display: none;
}
.main .detailPage .content_side .side_info .side_info_wrap .option .option_switch_box .option_switch div.on {
  display: block;
}
.main .detailPage .content_side .side_info .side_info_wrap .option .option_switch_box .option_switch div .option_img {
  width: 155px;
  height: 155px;
}
.main .detailPage .content_side .side_info .side_info_wrap .option .option_switch_box .option_switch div .option_img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main .detailPage .content_side .side_info .side_info_wrap .option_txt {
  position: relative;
}
.main .detailPage .content_side .side_info .side_info_wrap .option_txt .optionText {
  position: absolute;
  top: -90px;
  left: 250px;
  text-align: left;
  font-size: 12px;
  display: none;
}
.main .detailPage .content_side .side_info .side_info_wrap .option_txt .optionText.on {
  display: block;
}
.main .detailPage .content_side .side_info .side_info_wrap .option_txt .optionText p {
  font-size: 14px;
  font-weight: bold;
}
.main .detailPage .content_side .side_info .side_info_wrap .option_txt .optionText p.price {
  font-size: 15px;
  padding: 4px 0;
}
.main .detailPage .content_side .side_info .side_info_wrap .option_color {
  width: auto;
  height: 30px;
  display: flex;
  align-items: center;
  margin: -30px 0 0 250px;
}
.main .detailPage .content_side .side_info .side_info_wrap .option_color div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
  border: 2px solid #eee;
  cursor: pointer;
}
.main .detailPage .content_side .side_info .side_info_wrap .option_color div:hover {
  border: 2px solid #222;
}
.main .detailPage .content_side .side_info .side_info_wrap .option_color div.on {
  border: 2px solid #222;
}
.main .detailPage .content_side .side_info .side_info_wrap .option_color div.butter {
  background-color: #ffd18b;
}
.main .detailPage .content_side .side_info .side_info_wrap .option_color div.green {
  background-color: darkgreen;
}
.main .detailPage .content_side .side_info .side_info_wrap .option_color div.orange {
  background-color: orangered;
}
.main .detailPage .content_side .side_info .side_info_wrap .option_color div.black {
  background-color: #000;
}
.main .detailPage .content_side .side_info .side_info_wrap .buying_info {
  width: 100%;
  height: 19%;
  padding: 33px 0 0 65px;
  box-sizing: border-box;
  border-top: 2px solid #eee;
  font-size: 15px;
}
.main .detailPage .content_side .side_info .side_info_wrap .buying_info .shipment {
  width: 100%;
  height: auto;
  display: flex;
}
.main .detailPage .content_side .side_info .side_info_wrap .buying_info .shipment p {
  font-weight: bold;
  margin-right: 50px;
}
.main .detailPage .content_side .side_info .side_info_wrap .buying_info .shipment ul li:nth-child(2) {
  padding: 2px 0;
}
.main .detailPage .content_side .side_info .side_info_wrap .buying_info .card_benefit {
  width: 100%;
  height: 46px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.main .detailPage .content_side .side_info .side_info_wrap .buying_info .card_benefit p {
  line-height: 46px;
  font-weight: bold;
  margin-right: 35px;
}
.main .detailPage .content_side .side_info .side_info_wrap .buying_info .card_benefit .more_mark {
  width: 30px;
  height: 30px;
  font-size: 17px;
  cursor: pointer;
}
.main .detailPage .content_side .side_info .side_info_wrap .buying_info .card_benefit .more_mark i {
  color: #FD8234;
}
.main .detailPage .content_side .side_info .side_info_wrap .buying_info .card_benefit .card_popup {
  width: 255px;
  height: 310px;
  background-color: #f8f8f8;
  color: #191919;
  border-radius: 15px 15px 15px 0;
  position: absolute;
  top: 26%;
  left: 21.5%;
  padding: 20px 5px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  display: none;
}
.main .detailPage .content_side .side_info .side_info_wrap .buying_info .card_benefit .card_popup h3 {
  display: inline-block;
  font-size: 16px;
  padding: 20px 34px;
}
.main .detailPage .content_side .side_info .side_info_wrap .buying_info .card_benefit .card_popup h4 {
  display: inline-block;
  padding: 0px 34px 10px;
}
.main .detailPage .content_side .side_info .side_info_wrap .buying_info .card_benefit .card_popup .line_thin {
  width: 75%;
  height: 1px;
  background-color: #191919;
  margin: 5px auto 12px;
}
.main .detailPage .content_side .side_info .side_info_wrap .buying_info .card_benefit .card_popup ul li {
  width: 97%;
  height: 35px;
  display: flex;
  justify-content: space-evenly;
  margin-left: 20px;
}
.main .detailPage .content_side .side_info .side_info_wrap .buying_info .card_benefit .card_popup ul li p {
  font-size: 13px;
}
.main .detailPage .content_side .side_info .side_info_wrap .buying_info .card_benefit .card_popup ul li p:first-child {
  color: #FD8234;
}
.main .detailPage .content_side .side_info .side_info_wrap .allPrice {
  width: 100%;
  height: 11%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 60px;
  border-top: 2px solid #eee;
  box-sizing: border-box;
  line-height: 88px;
}
.main .detailPage .content_side .side_info .side_info_wrap .allPrice p {
  font-size: 16px;
  font-weight: 500;
}
.main .detailPage .content_side .side_info .side_info_wrap .allPrice .priceCount {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin: 0 45px 0 60px;
}
.main .detailPage .content_side .side_info .side_info_wrap .allPrice .priceCount input {
  width: 35px;
  height: 35px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
.main .detailPage .content_side .side_info .side_info_wrap .allPrice .priceCount input:nth-child(2) {
  margin-left: 140px;
}
.main .detailPage .content_side .side_info .side_info_wrap .allPrice .priceCount input:nth-child(3) {
  border: 2px solid #eee;
  box-sizing: border-box;
}
.main .detailPage .content_side .side_info .side_info_wrap .allPrice .priceCount input:nth-child(5) {
  border: none;
  width: 100px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
}
.main .detailPage .content_side .side_info .side_info_wrap .allPrice .priceCount input.hover {
  background-color: #eee;
}
.main .detailPage .content_side .side_info .side_info_wrap .allPrice .priceCount input.hover:hover {
  color: #FD8234;
}
.main .detailPage .content_side .side_info .side_info_wrap .allPrice .priceCount p.won {
  font-size: 18px;
  font-weight: bold;
  margin-left: -10px;
}
.main .detailPage .content_side .side_info .side_info_wrap .allPrice .finalAmount {
  display: flex;
  align-items: baseline;
}
.main .detailPage .content_side .side_info .side_info_wrap .allPrice .finalAmount input {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #FD8234;
  margin: 10px 5px 10px 15px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  border: none;
}
.main .detailPage .content_side .side_info .side_info_wrap .allPrice .finalAmount p {
  font-size: 18px;
  font-weight: bold;
  margin-left: 2px;
  line-height: 28px;
}
.main .detailPage .content_side .side_info .side_info_wrap .shopping_button {
  width: 100%;
  height: 10%;
  display: flex;
}
.main .detailPage .content_side .side_info .side_info_wrap .shopping_button div {
  width: 50%;
  height: 85px;
  font-weight: 22px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: center;
  line-height: 85px;
  border: 1px solid #EFE8DA;
  box-sizing: border-box;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
  cursor: pointer;
}
.main .detailPage .content_side .side_info .side_info_wrap .shopping_button div.buying_btn {
  background-color: #EFE8DA;
  color: #191919;
}
.main .detailPage .content_side .side_info .side_info_wrap .shopping_button div.buying_btn:hover {
  background-color: #252117;
  border: 1px solid #252117;
  color: #FD8234;
}
.main .detailPage .content_side .side_info .side_info_wrap .shopping_button div.cart_btn {
  color: #191919;
}
.main .detailPage .content_side .side_info .side_info_wrap .shopping_button div.cart_btn:hover {
  background-color: #252117;
  border: 1px solid #252117;
  color: #FD8234;
}
.main .detailPage .content_side .side_notice {
  width: 100%;
  height: auto;
  padding-bottom: 65px;
}
.main .detailPage .content_side .side_notice div {
  width: 100%;
  height: auto;
  position: relative;
}
.main .detailPage .content_side .side_notice div .title {
  width: 100%;
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  cursor: pointer;
}
.main .detailPage .content_side .side_notice div .title h4 {
  line-height: 80px;
  padding-left: 60px;
  font-weight: 500;
}
.main .detailPage .content_side .side_notice div .openClose {
  position: absolute;
  top: 30px;
  left: 680px;
  cursor: pointer;
}
.main .detailPage .content_side .side_notice div .openClose div {
  display: none;
}
.main .detailPage .content_side .side_notice div .openClose div.minus_btn {
  position: absolute;
  top: 0px;
}
.main .detailPage .content_side .side_notice div .openClose div.show {
  display: block;
}
.main .detailPage .content_side .side_notice div .openClose div i {
  font-size: 14px;
  color: #191919;
}
.main .detailPage .content_side .side_notice div .hide {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  box-sizing: border-box;
  background-color: #f1f1f1;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  display: none;
}
.main .detailPage .content_side .side_notice div .hide.show {
  display: block;
}
.main .detailPage .content_side .side_notice div .hide p {
  padding: 30px 60px;
}

/* ----------------------- top_btn ----------------------- */
.top_btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #191919;
  position: fixed;
  top: 185px;
  right: 25px;
  text-align: center;
  z-index: 999;
  cursor: pointer;
  opacity: 0;
}
.top_btn i {
  text-align: center;
  line-height: 40px;
  color: #fff;
}

.history_btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #191919;
  position: fixed;
  top: 135px;
  right: 25px;
  text-align: center;
  z-index: 999;
  cursor: pointer;
}
.history_btn i {
  text-align: center;
  line-height: 40px;
  color: #fff;
}

/* ----------------------- shopping_history ----------------------- */
.history .history_popup {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 480px;
  height: 100vh;
  background-color: #fff;
  transition: 0.4s all ease;
  z-index: 9999999999 !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: none;
}
.history .history_popup h4 {
  padding: 50px 30px 40px;
}
.history .history_popup .history_hide {
  width: 25px;
  height: 25px;
  text-align: center;
  position: absolute;
  top: 45px;
  right: 25px;
  cursor: pointer;
}
.history .history_popup p.today {
  font-size: 15px;
  padding: 0 30px;
  margin-bottom: 40px;
}
.history .history_popup .shopping_history {
  display: block;
}
.history .history_popup .shopping_history .history_list {
  position: relative;
  width: 420px;
  height: 120px;
  background-color: #fcfcfc;
  border: none;
  margin: 0 auto 50px;
  display: block;
  cursor: pointer;
}
.history .history_popup .shopping_history .history_list .list_img {
  width: 100px;
  height: 120px;
}
.history .history_popup .shopping_history .history_list .list_img img {
  width: 100%;
  height: 100%;
}
.history .history_popup .shopping_history .history_list .list_txt {
  width: 250px;
  height: auto;
  position: absolute;
  top: 32px;
  right: 50px;
}
.history .history_popup .shopping_history .history_list .list_txt .list_delete {
  width: 25px;
  height: 25px;
  text-align: center;
  position: absolute;
  top: -24px;
  left: 268px;
  display: none;
  color: #ccc;
}
.history .history_popup .shopping_history .history_list .list_txt p {
  width: 250px;
  text-align: left;
  font-size: 13px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.history .history_popup .shopping_history .history_list .list_txt span {
  position: absolute;
  top: 30px;
  font-size: 13px;
  font-weight: bold;
}
.history .history_popup .deleteAll {
  width: 120px;
  height: 45px;
  position: absolute;
  bottom: 60px;
  right: 30px;
  border-radius: 2px;
  background-color: #eee;
  cursor: pointer;
}
.history .history_popup .deleteAll:hover {
  background-color: #252117;
}
.history .history_popup .deleteAll:hover p {
  color: #f8f8f8;
}
.history .history_popup .deleteAll p {
  line-height: 45px;
  text-align: center;
  font-size: 13px;
}

/*# sourceMappingURL=detail.css.map */
