* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #252117; //#332e22
}

body,
html {
  width: 100%;
  height: 100vh;
  background-color: #f8f8f8;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:wght@300;400;500;600;700&display=swap');

.kor {
  font-family: 'Noto Sans KR', sans-serif;
}

.eng {
  font-family: 'Poppins', sans-serif;
}

$color : #FD8234;


/* ----------------------- header ----------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 105px;
  background-color: #f8f8f8;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  z-index: 99999999;

  .logo {
    width: 55px;
    height: auto;
    padding-top: 21px;
    box-sizing: border-box;
    margin: 0px 0px 0px 60px;
    cursor: pointer;

    a {
      width: 55px;
      height: auto;
      display: block;

      img {
        width: 100%;
      }
    }
  }

  .nav {
    .lnb {
      ul.lnb_main {
        width: 665px;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: absolute;
        top: 57px;
        left: 200px;

        li {
          height: 100px;
          padding: 0 25px;

          a {
            font-size: 15px;
            font-weight: bold;
            cursor: pointer;
          }

          &:hover a {
            color: $color;
          }
        }
      }

      ul.lnb_detail {
        position: relative;
        width: 100vw;
        z-index: 9;

        .shop_detail_bg {
          width: 520px;
          height: calc(100vh - 105px);
          position: absolute;
          top: 15px;
          left: -869px;
          transition: all 0.3s;

          .shop_detail {
            width: 520px;
            height: calc(100vh - 105px);
            background-color: #F8F6F4;

            & li:hover {
              background-color: #EFE8DA;
            }

            & li:hover a {
              color: $color;
            }

            li {
              width: 100%;
              height: 72px;
              border-bottom: 1px solid #eee;
              padding: 12px 0 0 70px;
              box-sizing: border-box;
              line-height: 50px;
            }

            li a {
              display: block;
              width: 100%;
              height: 68px;
              font-size: 13px;
              font-weight: bold;
              cursor: pointer;
            }

            & li:nth-child(1) {
              width: 50%;
              height: 72px;
              display: inline-block;
            }

            & li:nth-child(2) {
              width: 50%;
              height: 72px;
              float: left;
            }
          }
        }

        .story_detail_bg {
          width: 100vw;
          height: 60px;
          position: absolute;
          top: 16px;
          left: 0;
          display: none;

          ul.story_detail {
            width: 100vw;
            height: 60px;
            background-color: #EFE8DA;
            display: flex;
            transition: all 0.5s;


            & li:hover a {
              color: $color;
            }

            li {
              padding: 17px 10px 0;
              cursor: pointer;
            }

            li a {
              font-size: 13px;
              font-weight: bold;

            }

            li:nth-child(1) {
              margin: 0 45px 0 305px;
            }
          }
        }

        .support_detail_bg {
          width: 100vw;
          height: 60px;
          position: absolute;
          top: 16px;
          left: 0;
          transition: all 0.5s;
          display: none;

          ul.support_detail {
            width: 100vw;
            height: 60px;
            background-color: #EFE8DA;
            display: flex;
            transition: all 0.5s;

            & li:hover a {
              color: $color;
            }

            li {
              padding: 17px 10px 0;
              margin-right: 45px;
            }

            li a {
              font-size: 13px;
              font-weight: bold;
            }

            li:nth-child(1) {
              margin-left: 645px;
            }
          }
        }
      }
    }
  }


  .gnb {
    ul {
      width: 400px;
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      position: absolute;
      top: 57px;
      right: 55px;

      li {
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;

        &.search {
          width: 165px;
          height: 25px;
          background-color: $color;
          border-radius: 20px;

          input {
            width: 165px;
            height: 25px;
            padding: 12px 15px;
            box-sizing: border-box;
            color: #f8f8f8;
            background-color: $color;
            border-radius: 20px;
            border: none;
            position: relative;
          }

          i {
            font-size: 13px;
            color: #f8f8f8;
            position: absolute;
            top: 6px;
            right: 246px;
          }
        }
      }

      li:hover a {
        color: $color;
      }

    }
  }
}