* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #252117; //#332e22
}

body,
html {
  width: 100%;
  height: 100vh;
  background-color: #f8f8f8;

  &::-webkit-scrollbar {
    width: 10px;
    height: 0px;
    background-color: #eee;
  }

  &::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #FD8234;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:wght@300;400;500;600;700&display=swap');

.kor {
  font-family: 'Noto Sans KR', sans-serif;
}

.eng {
  font-family: 'Poppins', sans-serif;
}

$color : #FD8234;



/* ----------------------- main ----------------------- */
.main {
  width: 100%;
  height: auto;
  margin-top: 105px;

  .swiper_main {
    width: auto;
    height: calc(100vh - 105px);
    margin: 0 auto;

    &:hover .swiperBtn {
      visibility: visible;
      transition: all 0.3s ease;
    }

    .swiper-wrapper {
      width: auto;
      height: calc(100vh - 105px);

      .swiper-slide {
        width: auto;
        height: calc(100vh - 105px);
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .swiper-pagination {
      .swiper-pagination-bullet {
        width: 9px;
        height: 9px;
        background-color: white;
        margin-bottom: 20px;
      }

      .swiper-pagination-bullet-active {
        background-color: $color;
        width: 20px;
        height: 10px;
        border-radius: 10px;
        transition: all 0.3s ease;
      }
    }

    .swiperBtn {
      margin-top: 20px;
      visibility: hidden;
    }

    .swiperBtn:after {
      color: $color;
      padding: 10px;
      font-size: 30px;
      font-weight: bold;
    }
  }


  /* ----------------------- new_arrivals ----------------------- */
  .new_arrivals {
    width: 100vw;
    height: auto;
    position: relative;

    h1 {
      text-align: center;
      padding: 10px 0;
      margin: 70px 0 50px;
    }

    .swiper_new {
      width: 1180px;
      height: auto;
      margin: 0 auto;

      .swiper-wrapper {
        width: 1180px;
        height: auto;

        .swiper-slide {
          width: 360px;
          height: 360px;
          margin-bottom: 50px;
          display: flex;
          justify-content: center;
          align-items: center;

          &:nth-child(3) {
            margin-right: 0;
          }

          &:hover .new_txt {
            transform: scale(1.01);
            transition: all 0.3s ease;
          }

          .new_img {
            width: 360px;
            height: 360px;
            overflow: hidden;

            &:hover {
              transition: all 0.3s ease;
              box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }

            a img {
              width: 100%;
              height: 100%;

              &:hover {
                transform: scale(1.05);
                transition: all 0.3s ease;
              }
            }
          }

          .new_txt {
            width: 360px;
            height: 60px;
            background-color: #ffffff71;
            position: absolute;
            bottom: 0;
            left: 7px;
            z-index: 999;

            p {
              font-size: 12px;
              color: #191919;
              margin-top: 7px;
              padding: 2px 20px;
            }

            span {
              font-weight: bold;
              font-size: 13px;
              color: #191919;
              padding: 2px 20px;
            }
          }
        }
      }

      .swiper-scrollbar {
        width: 99%;
        height: 8px;
        margin: 0 auto;
        cursor: pointer;

        .swiper-scrollbar-drag {
          background-color: $color;
        }
      }
    }

    .newBtn_prev {
      position: absolute;
      top: 58%;
      left: 17%;
    }

    .newBtn_next {
      position: absolute;
      top: 58%;
      right: 17%;
    }

    .newBtn {
      color: #ccc;
      z-index: 999;
      width: 5px;
      height: 5px;

      &:hover {
        color: $color;
      }
    }
  }


  /* ----------------------- best ----------------------- */
  .best {
    width: 100vw;
    height: auto;
    position: relative;

    h1 {
      text-align: center;
      padding: 10px 0;
      margin: 80px auto 55px;
    }

    .swiper_best {
      width: 1180px;
      height: auto;
      margin: 0 auto;

      .swiper-wrapper {
        width: 1180px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .swiper-slide {
          width: 380px;
          height: 380px;
          margin-bottom: 50px;
          overflow: hidden;

          &:hover {
            transition: all 0.3s ease;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          }

          &:hover .best_txt {
            transform: scale(1.01);
            transition: all 0.3s ease;
          }

          .best_img {
            width: 380px;
            height: 380px;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;

              &:hover {
                transform: scale(1.02);
                transition: all 0.3s ease;
              }
            }
          }

          .best_txt {
            width: 380px;
            height: 65px;
            background-color: #ffffff71;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 999;

            p {
              font-size: 12px;
              color: #191919;
              margin-top: 7px;
              padding: 2px 20px;
              display: block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            span {
              font-weight: bold;
              font-size: 13px;
              color: #191919;
              padding: 2px 20px;
            }
          }
        }
      }
    }

    .bestBtn_prev {
      position: absolute;
      top: 55%;
      left: 17%;
    }

    .bestBtn_next {
      position: absolute;
      top: 55%;
      right: 17%;
    }

    .bestBtn {
      color: #ccc;
      z-index: 999;
      width: 5px;
      height: 5px;

      &:hover {
        color: $color;
      }
    }
  }


  /* ----------------------- wide_banner ----------------------- */
  .wide_banner {
    width: 100vw;
    height: 200px;
    background-color: #ffca8c;
    margin: 90px 0 125px;


    .banner_img {
      width: 1280px;
      height: 200px;
      margin: 0 auto;
    }
  }


  /* ----------------------- issue_place ----------------------- */
  .issue_contents {
    width: 100vw;
    height: auto;

    .space_wrap {
      width: 1180px;
      height: auto;
      margin: 0 auto;

      h1 {
        text-align: center;
        padding: 10px 0;
        margin: 60px auto 50px;
      }

      .space_label {
        width: 800px;
        height: 50px;
        margin: 10px auto 28px;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;

        li {
          width: 80px;
          font-weight: bold;
          text-align: center;
          cursor: pointer;

          &.on {
            padding-bottom: 12px;
            border-bottom: 5px solid $color;
            transition: all 0.3s ease;
          }
        }
      }

      .space_box {
        width: 1180px;
        height: 460px;
        display: flex;

        .img_left {
          width: 460px;
          height: 460px;
          margin-right: 20px;
          position: relative;

          .interior {
            width: 460px;
            height: 460px;
            position: absolute;
            top: 0;
            left: 0;
            display: none;

            &.ul_on {
              display: block;
            }

            li {
              width: 460px;
              height: 460px;
              display: none;

              &.li_on {
                display: block;
              }

              &:hover .left_txt {
                display: block;
              }

              .left_img {
                width: 460px;
                height: 460px;

                img {
                  width: 100%;
                  height: 100%;
                }
              }

              .left_txt {
                width: 460px;
                height: 80px;
                background-color: #ffffffb0;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 999;
                //display: none;

                p {
                  font-size: 13px;
                  color: #191919;
                  margin-top: 7px;
                  padding: 9px 25px 5px;
                  display: block;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }

                span {
                  font-weight: bold;
                  font-size: 14px;
                  color: #191919;
                  padding: 1px 25px;
                }
              }
            }
          }
        }

        .img_right {
          width: 720px;
          height: 460px;

          .product {
            width: 720px;
            height: 460px;
            display: none;

            &.right_on {
              display: block;
            }

            li {
              width: 220px;
              height: 220px;
              float: left;
              margin: 0 0 20px 20px;
              overflow: hidden;
              cursor: pointer;

              &:hover {
                transition: all 0.3s ease;
                box-shadow: rgba(255, 179, 66, 0.24) 0px -23px 25px 0px inset, rgba(255, 179, 66, 0.24) 0px -36px 30px 0px inset, rgba(255, 179, 66, 0.24) 0px -79px 40px 0px inset, rgba(255, 179, 66, 0.24) 0px 2px 1px, rgba(255, 179, 66, 0.24) 5px 5px 0px, rgba(255, 179, 66, 0.24) 5px 3px 0px, rgba(255, 179, 66, 0.24) 0px 0px 15px;
              }

              img {
                width: 100%;
                height: 100%;

                &:hover {
                  transform: scale(1.01);
                  transition: all 0.3s ease;
                }
              }
            }
          }
        }
      }
    }
  }


  /* ----------------------- brand ----------------------- */
  .brand_story {
    width: 100%;
    height: auto;
    margin: 140px auto 110px;
    background-color: #efe8daa9;
    display: flex;
    align-items: flex-start;

    .left_img {
      width: 50%;
      height: auto;

      img {
        width: 100%;
        height: 100%;
        display: block;
      }
    }

    .right_txt {
      width: 50%;
      height: auto;
      padding: 0 0 14px 80px;
      box-sizing: border-box;
      box-sizing: border-box;

      h1 {
        font-size: 26px;
        padding: 20px 0;
        box-sizing: border-box;
        margin: 100px 0 60px;
      }

      h2 {
        padding: 20px 0;
        box-sizing: border-box;
        margin-bottom: 20px;
      }

      p {
        font-size: 16px;
      }

      .button {
        width: 170px;
        height: 50px;
        background-color: #261C13;
        text-align: center;
        margin: 70px 0;
        cursor: pointer;

        &:hover {
          background-color: $color;
        }

        a {
          width: 180px;
          height: 50px;
          color: #EFE8DA;
          font-size: 14px;
          line-height: 48px;
        }
      }
    }
  }


  /* ----------------------- instagram ----------------------- */
  .instagram {
    width: 100%;
    height: auto;

    h1 {
      text-align: center;
      padding: 5px 0;
    }

    h4 {
      font-weight: normal;
      text-align: center;
      padding: 20px 0;
      margin-bottom: 40px;
    }

    .insta_box {
      width: 100%;
      height: 220px;
      overflow: hidden;
      position: relative;
      margin-bottom: 50px;

      .frame {
        width: 2400px;
        height: 220px;
        margin-left: -10px;
        position: absolute;
        top: 0;
        left: 0;

        li {
          width: 220px;
          height: 220px;
          padding: 0 10px;
          float: left;
          overflow: hidden;

          &:hover {
            transform: scale(1.02);
            transition: all 0.25s ease;
          }

          a img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .ctr_btn {
        display: none;
      }

      .btn {
        display: none;
      }
    }

    .follow {
      margin: 60px 0 140px;

      p.follow_insta {
        font-size: 16px;
        text-align: center;
        color: $color;
        padding: 10px 0;
      }
    }
  }
}


/* ----------------------- top_btn ----------------------- */
.top_btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #191919;
  position: fixed;
  bottom: 50px;
  right: 50px;
  text-align: center;
  z-index: 999;
  cursor: pointer;

  i {
    text-align: center;
    line-height: 40px;
    color: #fff;
  }
}

.history_btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #191919;
  position: fixed;
  bottom: 100px;
  right: 50px;
  text-align: center;
  z-index: 999;
  cursor: pointer;

  i {
    text-align: center;
    line-height: 40px;
    color: #fff;
  }
}


/* ----------------------- shopping_history ----------------------- */
.history {

  .history_popup {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 480px;
    height: 100vh;
    background-color: #fff;
    transition: all 0.4s ease;
    z-index: 9999999999 !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: none;

    h4 {
      padding: 50px 30px 40px;
    }

    .history_hide {
      width: 25px;
      height: 25px;
      text-align: center;
      position: absolute;
      top: 45px;
      right: 25px;
      cursor: pointer;
    }

    p.today {
      font-size: 15px;
      padding: 0 30px;
      margin-bottom: 40px;
    }

    .shopping_history {
      display: block;

      .history_list {
        position: relative;
        width: 420px;
        height: 120px;
        background-color: #fcfcfc;
        border: none;
        margin: 0 auto 50px;
        display: block;
        cursor: pointer;

        .list_img {
          width: 100px;
          height: 120px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .list_txt {
          width: 250px;
          height: auto;
          position: absolute;
          top: 32px;
          right: 50px;

          .list_delete {
            width: 25px;
            height: 25px;
            text-align: center;
            position: absolute;
            top: -24px;
            left: 268px;
            display: none;
            color: #ccc;
          }

          p {
            width: 250px;
            text-align: left;
            font-size: 13px;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          span {
            position: absolute;
            top: 30px;
            font-size: 13px;
            font-weight: bold;
          }
        }
      }
    }

    .deleteAll {
      width: 120px;
      height: 45px;
      position: absolute;
      bottom: 60px;
      right: 30px;
      border-radius: 2px;
      background-color: #eee;
      cursor: pointer;

      &:hover {
        background-color: #252117;
      }

      &:hover p {
        color: #f8f8f8;
      }

      p {
        line-height: 45px;
        text-align: center;
        font-size: 13px;
      }
    }
  }
}