* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #252117; //#332e22
}

body,
html {
  width: 100%;
  height: 100vh;
  background-color: #f8f8f8;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 10px;
    height: auto;
    background-color: #eee;
  }

  &::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #FD8234;
  }

}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:wght@300;400;500;600;700&display=swap');

.kor {
  font-family: 'Noto Sans KR', sans-serif;
}

.eng {
  font-family: 'Poppins', sans-serif;
}

$color : #FD8234;


/* ----------------------- main ----------------------- */
.main {
  width: 100%;
  height: auto;
  margin: 105px 0 150px;

  .path {
    width: 1220px;
    height: auto;
    margin: 155px auto 25px;

    a {
      margin: 20px 0 20px;
      padding: 5px;
      color: #191919;
      font-size: 13px;
      font-weight: bold;

      i {
        padding: 0 8px 0 12px;
      }

      span {
        padding: 3px 0;
        color: $color;
      }
    }
  }

  .sub_menu {
    width: 100%;
    height: 185px;
    background-color: #EFE8DA;

    .category_wrap {
      width: 1420px;
      height: 185px;
      margin: 0 auto;
      background-color: #EFE8DA;

      .category {
        width: 1420px;
        height: 185px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
          width: 90px;
          height: 90px;
          border-radius: 50%;
          text-align: center;
          background-color: #fff;
          position: relative;
          margin-top: -25px;
          cursor: pointer;

          &:hover::after {
            transition: all 0.3s ease;
            opacity: 1;
          }

          &:hover p {
            color: $color;
          }

          &::after {
            content: '';
            position: absolute;
            margin: -123px 0 0 -45px;
            width: 90px;
            height: 90px;
            border-radius: 50%;
            transition: all 0.3s ease;
            box-shadow: rgba(255, 179, 66, 0.394) 0px 50px 36px -28px inset;
            opacity: 0;
          }

          a img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }

          a {
            line-height: 90px;
            text-align: center;
            font-weight: bold;
            font-size: 30px;
          }

          p {
            font-size: 12px;
            font-weight: bold;
            margin-top: -20px;
          }

          &:nth-child(1) {
            &:hover {
              transition: all 0.3s ease;
              box-shadow: rgba(255, 179, 66, 0.394) 0px 50px 36px -28px inset;
            }

            &::after {
              content: '';
              position: absolute;
              width: 90px;
              height: 90px;
              border-radius: 50%;
              box-shadow: none;
            }

            p {
              font-size: 13px;
              font-weight: bold;
              margin-top: 15px;
            }
          }
        }
      }
    }
  }

  .all {
    width: 1220px;
    height: auto;
    margin: 30px auto 0px;

    P {
      padding: 33px 20px 15px;
      font-weight: bold;
      font-size: 20px;
    }
  }

  .array {
    width: 1220px;
    margin: 0 auto 5px;

    .buttonContainer {
      padding: 10px;
      display: flex;
      justify-content: flex-end;
      align-items: baseline;

      button {
        width: 78px;
        padding: 5px 10px;
        margin: 5px 5px 10px;
        border: none;
        font-weight: bold;
        background-color: #f8f8f8;
        border-radius: 10px 10px 0 0;
        cursor: pointer;
      }
    }
  }

  .product {
    width: 1220px;
    height: auto;
    margin: 0 auto;

    .product_list {
      width: 1220px;
      display: flex;
      flex-wrap: wrap;

      li {
        width: 278px;
        height: 278px;
        margin: 0 auto 100px;

        &:hover {
          transition: all 0.3s ease;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        }

        &:hover .product_txt {
          background-color: #efefef;
          transition: all 0.3s ease;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        }

        .product_img {

          a {
            display: block;
            width: 278px;
            height: 278px;
            overflow: hidden;
            cursor: pointer;

            img {
              width: 100%;
              height: 100%;

              &:hover {
                transform: scale(1.04);
                transition: all 0.8s ease;
              }
            }
          }
        }

        .product_txt {
          width: 278px;
          height: 60px;
          background-color: #ffffffb9;

          p {
            font-size: 11px;
            padding: 10px 15px 0;
            box-sizing: border-box;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          span {
            font-size: 12px;
            font-weight: bold;
            padding: 3px 15px;
            box-sizing: border-box;
          }
        }
      }
    }
  }

  .paging {
    width: 250px;
    height: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;

    i {
      cursor: pointer;
    }

    .pages {
      display: flex;
      justify-content: space-around;
      align-items: center;

      span {
        text-align: center;
        margin: 0 15px;
        cursor: pointer;
      }

      .active {
        line-height: 29px;
        margin: 0 auto;
        width: 30px;
        height: 30px;
        border-radius: 2px;
        color: $color;
        font-weight: bold;
        background-color: #261C13;
      }
    }
  }
}


/* ----------------------- top_btn ----------------------- */
.top_btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #191919;
  position: fixed;
  bottom: 50px;
  right: 50px;
  text-align: center;
  z-index: 999;
  cursor: pointer;

  i {
    text-align: center;
    line-height: 40px;
    color: #fff;
  }
}

.history_btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #191919;
  position: fixed;
  bottom: 100px;
  right: 50px;
  text-align: center;
  z-index: 999;
  cursor: pointer;

  i {
    text-align: center;
    line-height: 40px;
    color: #fff;
  }
}


/* ----------------------- shopping_history ----------------------- */
.history {

  .history_popup {
    position: fixed;
    right: -480px;
    bottom: 0;
    width: 480px;
    height: 100vh;
    background-color: #fff;
    transition: all 0.4s ease;
    z-index: 9999999999 !important;

    h4 {
      padding: 50px 30px 40px;
    }

    .history_hide {
      width: 25px;
      height: 25px;
      text-align: center;
      position: absolute;
      top: 45px;
      right: 25px;
      cursor: pointer;
    }

    p.today {
      font-size: 15px;
      padding: 0 30px;
      margin-bottom: 40px;
    }

    .shopping_history {
      display: block;

      .history_list {
        position: relative;
        width: 420px;
        height: 120px;
        background-color: #fcfcfc;
        border: none;
        margin: 0 auto 50px;
        display: block;
        cursor: pointer;

        .list_img {
          width: 100px;
          height: 120px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .list_txt {
          width: 250px;
          height: auto;
          position: absolute;
          top: 32px;
          right: 50px;

          .list_delete {
            width: 25px;
            height: 25px;
            text-align: center;
            position: absolute;
            top: -24px;
            left: 268px;
            display: none;
            color: #ccc;
          }

          p {
            width: 250px;
            text-align: left;
            font-size: 13px;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          span {
            position: absolute;
            top: 30px;
            font-size: 13px;
            font-weight: bold;
          }
        }
      }
    }

    .deleteAll {
      width: 120px;
      height: 45px;
      position: absolute;
      bottom: 60px;
      right: 30px;
      border-radius: 2px;
      background-color: #eee;
      cursor: pointer;

      &:hover {
        background-color: #252117;
      }

      &:hover p {
        color: #f8f8f8;
      }

      p {
        line-height: 45px;
        text-align: center;
        font-size: 13px;
      }
    }
  }
}