@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #252117;
}

body,
html {
  width: 100%;
  height: 100vh;
  background-color: #f8f8f8;
}
body ::-webkit-scrollbar,
html ::-webkit-scrollbar {
  width: 10px;
  height: 0px;
  background-color: #eee;
}
body ::-webkit-scrollbar-thumb,
html ::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #FD8234;
}

.kor {
  font-family: "Noto Sans KR", sans-serif;
}

.eng {
  font-family: "Poppins", sans-serif;
}

/* ----------------------- main ----------------------- */
.main {
  width: 100%;
  height: auto;
  margin: 105px 0 150px;
}
.main .path {
  width: 1220px;
  height: auto;
  margin: 155px auto 25px;
}
.main .path a {
  margin: 20px 0 20px;
  padding: 5px;
  color: #191919;
  font-size: 13px;
  font-weight: bold;
}
.main .path a i {
  padding: 0 8px 0 12px;
}
.main .path a span {
  padding: 3px 0;
  color: #FD8234;
}
.main .sub_menu {
  width: 100%;
  height: 185px;
  background-color: #EFE8DA;
}
.main .sub_menu .category_wrap {
  width: 1420px;
  height: 185px;
  margin: 0 auto;
  background-color: #EFE8DA;
}
.main .sub_menu .category_wrap .category {
  width: 1420px;
  height: 185px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .sub_menu .category_wrap .category li {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  text-align: center;
  background-color: #fff;
  position: relative;
  margin-top: -25px;
  cursor: pointer;
}
.main .sub_menu .category_wrap .category li:hover::after {
  transition: all 0.3s ease;
  opacity: 1;
}
.main .sub_menu .category_wrap .category li:hover p {
  color: #FD8234;
}
.main .sub_menu .category_wrap .category li::after {
  content: "";
  position: absolute;
  margin: -123px 0 0 -45px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  transition: all 0.3s ease;
  box-shadow: rgba(255, 179, 66, 0.394) 0px 50px 36px -28px inset;
  opacity: 0;
}
.main .sub_menu .category_wrap .category li a img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.main .sub_menu .category_wrap .category li a {
  line-height: 90px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}
.main .sub_menu .category_wrap .category li p {
  font-size: 12px;
  font-weight: bold;
  margin-top: -20px;
}
.main .sub_menu .category_wrap .category li:nth-child(1):hover {
  transition: all 0.3s ease;
  box-shadow: rgba(255, 179, 66, 0.394) 0px 50px 36px -28px inset;
}
.main .sub_menu .category_wrap .category li:nth-child(1)::after {
  content: "";
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  box-shadow: none;
}
.main .sub_menu .category_wrap .category li:nth-child(1) p {
  font-size: 13px;
  font-weight: bold;
  margin-top: 15px;
}
.main .all {
  width: 1220px;
  height: auto;
  margin: 30px auto 0px;
}
.main .all P {
  padding: 33px 20px 15px;
  font-weight: bold;
  font-size: 20px;
}
.main .array {
  width: 1220px;
  margin: 0 auto 5px;
}
.main .array .btnContainer {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}
.main .array .btnContainer button {
  width: 78px;
  padding: 5px 10px;
  margin: 5px 5px 10px;
  border: none;
  font-weight: bold;
  background-color: #f8f8f8;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}
.main .array .btnContainer button.on {
  color: #FD8234;
}
.main .product {
  width: 1220px;
  height: auto;
  margin: 0 auto;
}
.main .product .product_list {
  width: 1220px;
  display: flex;
  flex-wrap: wrap;
  /* .productLi {
    position: relative;
    width: 278px;
    height: 278px;
    margin: 0 auto 100px; */
}
.main .product .product_list .productDiv {
  position: relative;
  width: 278px;
  height: 278px;
  margin: 0 auto 100px;
}
.main .product .product_list .productDiv:hover {
  transition: all 0.3s ease;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.main .product .product_list .productDiv:hover .product_txt {
  background-color: #efefef;
  transition: all 0.3s ease;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.main .product .product_list .productDiv .bestTag {
  width: 60px;
  height: 25px;
  background-color: #FD8234;
  color: #EFE8DA;
  text-align: center;
  line-height: 26px;
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  top: 0x;
  left: 0;
  z-index: 9999999;
  display: none;
}
.main .product .product_list .productDiv .bestTag:hover {
  transition: all 0.3s ease;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.main .product .product_list .productDiv .newTag {
  width: 60px;
  height: 25px;
  background-color: #EFE8DA;
  color: #252117;
  text-align: center;
  line-height: 26px;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999999;
  display: none;
}
.main .product .product_list .productDiv .newTag:hover {
  transition: all 0.3s ease;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.main .product .product_list .productDiv .product_img a {
  display: block;
  width: 278px;
  height: 278px;
  overflow: hidden;
  cursor: pointer;
}
.main .product .product_list .productDiv .product_img a img {
  width: 100%;
  height: 100%;
}
.main .product .product_list .productDiv .product_img a img:hover {
  transform: scale(1.04);
  transition: all 0.8s ease;
}
.main .product .product_list .productDiv .product_txt {
  width: 278px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.7254901961);
}
.main .product .product_list .productDiv .product_txt p {
  font-size: 11px;
  padding: 10px 15px 0;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main .product .product_list .productDiv .product_txt span {
  font-size: 12px;
  font-weight: bold;
  padding: 3px 0 3px 15px;
  box-sizing: border-box;
}
.main .paging {
  width: 250px;
  height: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 80px;
}
.main .paging i {
  cursor: pointer;
}
.main .paging .numBtnWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main .paging .numBtnWrapper span {
  text-align: center;
  margin: 0 15px;
  cursor: pointer;
}
.main .paging .numBtnWrapper .selected {
  line-height: 29px;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  border-radius: 2px;
  color: #FD8234;
  font-weight: bold;
  background-color: #261C13;
}

/* ----------------------- top_btn ----------------------- */
.top_btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #191919;
  position: fixed;
  bottom: 50px;
  right: 50px;
  text-align: center;
  z-index: 999;
  cursor: pointer;
}
.top_btn i {
  text-align: center;
  line-height: 40px;
  color: #fff;
}

.history_btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #191919;
  position: fixed;
  bottom: 100px;
  right: 50px;
  text-align: center;
  z-index: 999;
  cursor: pointer;
}
.history_btn i {
  text-align: center;
  line-height: 40px;
  color: #fff;
}

/* ----------------------- shopping_history ----------------------- */
.history .history_popup {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 480px;
  height: 100vh;
  background-color: #fff;
  transition: all 0.4s ease;
  z-index: 9999999999 !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: none;
}
.history .history_popup h4 {
  padding: 50px 30px 40px;
}
.history .history_popup .history_hide {
  width: 25px;
  height: 25px;
  text-align: center;
  position: absolute;
  top: 45px;
  right: 25px;
  cursor: pointer;
}
.history .history_popup p.today {
  font-size: 15px;
  padding: 0 30px;
  margin-bottom: 40px;
}
.history .history_popup .shopping_history {
  display: block;
}
.history .history_popup .shopping_history .history_list {
  position: relative;
  width: 420px;
  height: 120px;
  background-color: #fcfcfc;
  border: none;
  margin: 0 auto 50px;
  display: block;
  cursor: pointer;
}
.history .history_popup .shopping_history .history_list .list_img {
  width: 100px;
  height: 120px;
}
.history .history_popup .shopping_history .history_list .list_img img {
  width: 100%;
  height: 100%;
}
.history .history_popup .shopping_history .history_list .list_txt {
  width: 250px;
  height: auto;
  position: absolute;
  top: 32px;
  right: 50px;
}
.history .history_popup .shopping_history .history_list .list_txt .list_delete {
  width: 25px;
  height: 25px;
  text-align: center;
  position: absolute;
  top: -24px;
  left: 268px;
  display: none;
  color: #ccc;
}
.history .history_popup .shopping_history .history_list .list_txt p {
  width: 250px;
  text-align: left;
  font-size: 13px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.history .history_popup .shopping_history .history_list .list_txt span {
  position: absolute;
  top: 30px;
  font-size: 13px;
  font-weight: bold;
}
.history .history_popup .deleteAll {
  width: 120px;
  height: 45px;
  position: absolute;
  bottom: 60px;
  right: 30px;
  border-radius: 2px;
  background-color: #eee;
  cursor: pointer;
}
.history .history_popup .deleteAll:hover {
  background-color: #252117;
}
.history .history_popup .deleteAll:hover p {
  color: #f8f8f8;
}
.history .history_popup .deleteAll p {
  line-height: 45px;
  text-align: center;
  font-size: 13px;
}




/*# sourceMappingURL=/sub.bfb73523.css.map */